<div class="row">
  <div class="column">

    <div class="container">
      <img src="/images/chocolateChip.jpg" alt="Avatar"
        class="image">
      <div class="overlay">
        <div class="text" id="cookie1"></div>
      </div>
    </div>

    <div class="container">
      <img src="/images/oatmeal.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="cookie2"></div>
      </div>
    </div>

    <div class="container">
      <img src="/images/almond.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="cookie3"></div>
      </div>
    </div>

  </div>

  <div class="column">

    <div class="container">
      <img src="/images/red_velvet_cookie.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="cookie4"></div>
      </div>
    </div>

    <div class="container">
      <img src="/images/pistaCookie.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="cookie5"></div>
      </div>
    </div>
    
    <div class="container">
      <img src="/images/rasberrycenter.jpg" alt="Avatar"
        class="image">
      <div class="overlay">
        <div class="text" id="cookie6"></div>
      </div>
    </div>


  </div>

  <div class="column">

    <div class="container">
      <img src="/images/walnutCookie.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="cookie7"></div>
      </div>
    </div>

    <div class="container">
      <img src="/images/frostingCookie.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="cookie8"></div>
      </div>
    </div>

    <div class="container">
      <img src="/images/assortment.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="cookie9"></div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/cookie.js">