
<div class="content">

<div class="">
<p> WELCOME </p>
<p>Our Hours of Ops</p>
<p>Mon - Sat: 8am to 7pm </p>
<p>Sun: 9am to 7pm </p>

<p> You can find us at: </p>
<p>900 Home grown Street </p>
<p>New York, NY 10012</p>
<p>phone(212) 219 2773</p>
</div>
</div>

<script type="text/javascript" src="/scss/layout.js">