<!DOCTYPE html>
<html>

  <head>
    <link type="text/css" rel="stylesheet" href="/scss/main.css"
      media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="wrapper">
      <div class="nav_wrapper">
        <button class="nav"><a href="/">Home</a></button>
        <button class="nav"><a href="/">Cakes</a></button>
        <button class="nav"><a href="/">Cookies</a></button>
        <button class="nav"><a href="/">Muffins</a></button>
        <button class="nav"><a href="/">Contact Us</a></button>
      </div>
      <div class="content">
        <%= yield %>
        </div>
      </div>
      <script type="text/javascript" src="main.js"></script>
    </body>

  </html>