<!DOCTYPE html>
<html>

  <head>
    <link type="text/css" rel="stylesheet" href="/scss/main.css"
      media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confection Connection</title>
  </head>

  <body>
    <div class="wrapper">
      <div class="nav_wrapper">
        <a href="/"><button class="nav">Home</button></a>
        <a href="/cakes"><button class="nav">Cakes</button></a>
        <a href="/cookies"><button class="nav">Cookies</button></a>
        <a href="/muffins"><button class="nav">Muffins</button></a>
        <a href="/contact_us"><button class="nav">Contact Us</button></a>
      </div>
      <div class="content_box" id="p2">

        <div class="heading"><h1> Confection Connection </h1> </div>
        <%= yield %>
        </div>
      </div>
      
    </body>

  </html>