<div class="row">
  <div class="column">

    <div class="container">
      <img src="/images/cinimonroll.jpg" alt="Avatar"
        class="image">
      <div class="overlay">
        <div class="text" id="muffin1"></div>
      </div>
    </div>

    <div class="container">
      <img src="/images/appleoat.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="muffin2"></div>
      </div>
    </div>

    <div class="container">
      <img src="/images/blueberry.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="muffin3"></div>
      </div>
    </div>

  </div>

  <div class="column">

    <div class="container">
      <img src="/images/erdbeermuffin.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="muffin4"></div>
      </div>
    </div>

    <div class="container">
      <img src="/images/lemonblueberry.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="muffin5"></div>
      </div>
    </div>
    
    <div class="container">
      <img src="/images/meatnegg.jpg" alt="Avatar"
        class="image">
      <div class="overlay">
        <div class="text" id="muffin6"></div>
      </div>
    </div>


  </div>

  <div class="column">

    <div class="container">
      <img src="/images/cornbread.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="muffin7"></div>
      </div>
    </div>

    <div class="container">
      <img src="/images/ricottafig.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="muffin8"></div>
      </div>
    </div>

    <div class="container">
      <img src="/images/chocolatechipmuffin.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text" id="muffin9"></div>
      </div>
    </div>

  </div>

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/muffin.js">